<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="vendor/autoload.php"
         executionOrder="random"
         resolveDependencies="true">
  <coverage>
    <include>
      <directory>src</directory>
    </include>
    <report>
      <clover outputFile="build/logs/phpunit/coverage/coverage.xml"/>
      <html outputDirectory="build/logs/phpunit/coverage"/>
      <text outputFile="php://stdout" showOnlySummary="true"/>
      <xml outputDirectory="build/logs/phpunit/coverage/coverage-xml"/>
    </report>
  </coverage>
  <php>
    <ini name="max_execution_time" value="-1"/>
    <ini name="html_errors" value="false"/>
    <ini name="memory_limit" value="2G"/>
    <env name="error_reporting" value="E_ALL"/>
    <env name="display_errors" value="1"/>
    <env name="ENVIRONMENT" value="test"/>
  </php>
  <testsuites>
    <testsuite name="Unit">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>
  <logging>
    <junit outputFile="build/logs/phpunit/junit.xml"/>
  </logging>
</phpunit>
